@font-face {
    font-family: 'greatthings';
    src: url('font/greatthings/goingtodogreatthings-webfont.woff2') format('woff2'),
         url('font/greatthings/goingtodogreatthings-webfont.woff') format('woff'),
         url('font/greatthings/goingtodogreatthings-webfont.ttf') format('truetype'),
         url('font/greatthings/goingtodogreatthings-webfont.svg#goingtodogreatthingsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ink_freeregular';
    src: url('font/inkfreeweb/inkfree-webfont.eot');
    src: url('font/inkfreeweb/inkfree-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/inkfreeweb/inkfree-webfont.woff2') format('woff2'),
         url('font/inkfreeweb/inkfree-webfont.woff') format('woff'),
         url('font/inkfreeweb/inkfree-webfont.ttf') format('truetype'),
         url('font/inkfreeweb/inkfree-webfont.svg#ink_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img {
    /*border: 1px solid red;*/
}
* {
    margin: 0;
    scroll-snap-type: y mandatory;
    /*box-sizing: border-box;*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
body {
    font-family: 'ink_freeregular';
    /*font-family: 'Courier New', Courier, monospace;*/
  }

.snap {
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /*margin-top: 90px;*/
    scroll-snap-align: start;
    text-align: center;    
    display: inline-block;
    /*background-color: rgb(233,214,251);*/
}

.intro-img {
    height: 70vh; /* window height */
    width: 80vw;
    padding: 1vh 2vw 2vh 2vw;
}

.intro1 {
    font-size: 7vh;
    padding-top: 4vh;
}
.intro2 {
    font-size: 7vh;
    margin-top: -2vh;
}

.explain-img {
    height: 90vh; /* window height */
    padding: 0vh 2vw 3vh 9vw;
    float: left;
    /*border: 1px solid red;*/
    
}
.explain_txt {
    color: #4d4d4d;
    text-align: left;
    font-size: 2.6em;
    padding: 20vh 20vh 0 2vh;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.datavis_descript {
    text-align: left;
    font-size: 2.4em;
    padding: 1% 20% 1% 2%;
}
.datavis_descript_small {
    text-align: left;
    font-size: 1.8em;
    padding: 1% 20% 1% 2%;
}
.underliner {
    text-decoration: underline;
    text-underline-offset: 10px;
}
.acktxt {
    width: 84vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3.5em;
    margin-top: -30vh;
    padding: 0vh 15vh 10vh 15vh;

}
.acktxt1 {
    /*padding-top: 90%;*/
    padding-left: 10%;
    padding-right: 10%; 
    font-size: 0.8em;
}
.acktxt2 {
    /*padding-bottom: 90%;*/
    font-size: 0.9em; 
}
.link {
    color: rgb(162, 0, 103);
    text-underline-offset: 12px;
}
/* data vis */
.section-dataviz {
    width: 100vw;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    grid-template-columns: auto auto;
    color: #333;
}
  .leftcolumn {
      width: 50vw;
      height: 100vh;
      display: grid;
      grid-template-columns: auto auto; /* auto for each column */
      background-color: #e9d6fbff;

      /*padding-bottom: 5%;*/
  }
  .rightcolumn {
      width: 50vw;
      height: 100vh;
      display: grid;
      grid-template-columns: auto auto;
      background-color: #fae5fd;
      /*padding-bottom: 5%;*/
      
  }
  .griditem {
      padding: 0;
      margin: 0px;
      text-align: center;
      /*border: 1px solid red;
      /*border: 0.2px solid #e4e4e4;*/
  }
  /*
  .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    /*
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}
*/
  /* quote design */
.fatigue {
    color: #92a2c3;
    font-style: bold;
    font-size: 1.6em;
}
.sleep {
    color: #0022ff;
    font-style: bold;
    font-size: 1.6em;
}
.headache {
    color: #ff794b;
    font-style: bold;
    font-size: 1.6em;
}
.depress {
    color: #000;
    font-style: bold;
    font-size: 1.6em;
}
.NV {
    color: #0022ff;
    font-style: bold;
    font-size: 1.6em;
}
.hospital {
    color: #FF000088;
    font-style: bold;
    font-size: 1.6em;
}
  
  #face-depress {
    position: relative;
    display: inline-block;
    top: -750%; left: 15%;
    animation: svg-shadow_d 1.5s ease-in-out infinite alternate;
    z-index: 1; 
  }
  #face-sleep {
    position: relative;
    display: inline-block;
    top: -730%; left: -20%; 
    animation: svg-shadow_s 1.5s ease-in-out infinite alternate;
    z-index: 2; 
  }
  #face-headache {
    position: relative;
    display: inline-block;
    top: -680%; left: 10%;
    animation: svg-shadow_h 1.5s ease-in-out infinite alternate;
    z-index: 3; 
  }
  #face-fatigue {
    position: relative;
    display: inline-block;
    top: -500%; left: 2%;
    font-size: 1em;
    animation: svg-shadow_f 1.5s ease-in-out infinite alternate;
    z-index: 4; 
  }

  
  @keyframes svg-shadow_f {
    from {
      filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 2px #69f9fc) drop-shadow( 0 0 4px #69f9fc);
    }
  
    to {
      filter: drop-shadow( 0 0 4px #fff) drop-shadow( 0 0 3px #69f9fc) drop-shadow( 0 0 1px #69f9fc);
    }
  }

  @keyframes svg-shadow_h {
    from {
      filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 2px #ff926e) drop-shadow( 0 0 3px #ff926e);
    }
  
    to {
      filter: drop-shadow( 0 0 3px #fff) drop-shadow( 0 0 2px #ff926e) drop-shadow( 0 0 1px #ff926e);
    }
  }

  @keyframes svg-shadow_s {
    from {
      filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 2px #4b63fc) drop-shadow( 0 0 3px #4b63fc);
    }
  
    to {
      filter: drop-shadow( 0 0 3px #fff) drop-shadow( 0 0 2px #4b63fc) drop-shadow( 0 0 1px #4b63fc);
    }
  }

  @keyframes svg-shadow_d {
    from {
      filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 2px #5d5d5d) drop-shadow( 0 0 3px #5d5d5d);
    }
  
    to {
      filter: drop-shadow( 0 0 3px #fff) drop-shadow( 0 0 2px #5d5d5d) drop-shadow( 0 0 1px #5d5d5d);
    }
  }
 
#face-sleep .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    /*box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);*/
    text-align: left;
    padding: 15px;
    position: absolute;
    bottom: 93%;
    left: 90%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
    
}
#face-depress .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    /*box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);*/
    text-align: left;
    padding: 15px;
    position: absolute;
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
#face-headache .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    /*box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);*/
    text-align: left;
    padding: 15px;
    position: absolute;
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

#face-fatigue .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    /*box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);*/
    text-align: left;
    padding: 15px;
    position: absolute;
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
#face-fatigue:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
#face-sleep:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
    animation: none;
}
#face-headache:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
#face-depress:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}

.quote {
    font-style: italic;
    font-size: 1.35em;
}
#seperatershort {
    padding-top: 20px;
}

/*
svg path {
    animation: pathAnim 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}
@keyframes pathAnim {
    0%{
        d: path("M0,192 C220, 100, 440, 100, 660, 192, C880, 290, 1100, 290, 1320, 192 L1320 500 L0 500")
    }
    25%{
        d: path("M0,100 C220, 100, 440, 292, 660, 292, C880, 292, 1100, 100, 1320, 192 L1320 500 L0 500")
    }
    50%{
        d: path("M0,192 C220, 290, 440, 290, 660, 192, C880, 100, 1100, 100, 1320, 192 L1320 500 L0 500")
    }
    25%{
        d: path("M0,292 C220, 292, 440, 100, 660, 292, C880, 292, 1100, 100, 1320, 192 L1320 500 L0 500")
    }
    100%{
        d: path("M0,292 C220, 292, 440, 100, 660, 292, C880, 292, 1100, 100, 1320, 192 L1320 500 L0 500")
    }
}
*/