* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

@font-face {
    font-family: goingtodogreatthings;
    src: url(font/goingtodogreatthings.ttf);
}
.snap {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    background-color: rgb(233,214,251);
}
.acktxt {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 5em;
    scroll-snap-align: start; 
    background-color: rgb(233,214,251);
    font-family: goingtodogreatthings, 'Segoe UI';
    color: rgb(66,33,11);
    /*border-style: dotted;*/
}
.acktxt1 {
    padding-top: 90%;
    padding-left: 10%;
    padding-right: 10%; 
    font-size: 0.8em;
}
.acktxt2 {
    padding-bottom: 90%;
    font-size: 0.9em; 
}
.link {
    color: rgb(162, 0, 103);
}
/* data vis */
.section-dataviz {
    width: 100vw;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    grid-template-columns: auto auto;
    font-family: 'Segoe UI', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
}
  .leftcolumn {
      width: 50vw;
      /*height: 100vh;*/
      display: grid;
      grid-template-columns: auto auto; /* auto for each column */
      background-color: #e9d6fb;

      /*padding-bottom: 5%;*/
  }
  .rightcolumn {
      width: 50vw;
      /*border-style: dotted;*/
      display: grid;
      grid-template-columns: auto auto;
      background-color: rgb(250, 229, 253);
      /*padding-bottom: 5%;*/
      padding-bottom: 50px;
  }
  .griditem {
      padding: 0;
      margin: 0px;
      text-align: center;
  }
  
  /* quote design */
  
  #face-depress {
    position: relative;
    display: inline-block;
    top: -850%; left: 30%;
  }
  #face-sleep {
    position: relative;
    display: inline-block;
    top: -810%; left: -6%; 
  }
  #face-headache {
    position: relative;
    display: inline-block;
    top: -770%; left: 10%;
  }
  #face-fatigue {
    position: relative;
    display: inline-block;
    top: -550%; left: -25%;
  }
  
 
#face-sleep .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 15px;
    position: absolute;
    z-index: 2; /*obere Ebene*/
    bottom: 93%;
    left: 90%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
#face-depress .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 15px;
    position: absolute;
    z-index: 2; /*obere Ebene*/
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
#face-headache .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 15px;
    position: absolute;
    z-index: 2; /*obere Ebene*/
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

#face-fatigue .tooltipbox {
    visibility: hidden;
    height: flex;
    /*height: 430px;*/
    width: 450px;
    background-color: rgb(248, 255, 255);
    border: 2px solid #f79885; /* rgb(93, 241, 252);*/
    border-radius: 4px;
    box-shadow: 20px 15px 30px 15px rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 15px;
    position: absolute;
    z-index: 2; /*obere Ebene*/
    bottom: -90%;
    left: 50%;
    margin-left: 0px;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}
#face-fatigue:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
#face-sleep:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
#face-headache:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
#face-depress:hover .tooltipbox {
    visibility: visible;
    opacity: 0.9;
}
.fatigue {
    color: #a6b7da;
    font-style: bold;
    font-size: 1.5em;
}
.sleep {
    color: #0022ff;
    font-style: bold;
    font-size: 1.5em;
}
.headache {
    color: #FFFF00;
    font-style: bold;
    font-size: 1.5em;
}
.depress {
    color: #000;
    font-style: bold;
    font-size: 1.5em;
}
.NV {
    color: #68478d;
    font-style: bold;
    font-size: 1.5em;
}
.hospital {
    color: #FF000088;
    font-style: bold;
    font-size: 1.5em;
}
.quote {
    font-style: italic;
    font-size: 1.2em;
}
#seperatershort {
    padding-top: 20px;
}
